html, body {
    margin: 0 ;
    padding: 0;
            font-family: 'Mukta', sans-serif;
}

.input-container{
   
    display: none;
    flex-direction: column;
    margin: 30px auto;
    width: 75vw;
    
}

#mainPostinput{
    width: 68vw;
    border-radius: 20px;
    border: 1.7px solid #E3E3E3;
    padding-left: 25px;
}

.postContainer{
    margin: 50px auto;
    text-align: center  
    
}

.post-container{
    
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin: 40px auto;
    width: 69.2vw;
    height: 17rem;
    padding-left: 2rem;
    margin-top: -30px;
    overflow: auto;
    overflow-x: hidden;
    overflow-wrap:break-word;
    border: 1.7px solid #E3E3E3;
    
}

#replies{
    margin: 7px 0 0 52px;
    
}

.replies-container{
   
    border-radius: 5px;
    height: 80px;
    margin: -30px 0 40px 18.6vw;
    border:solid 2px #E3E3E3;
    width: 67.2vw;
    
}

#profilepic{
   
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin: 10px 0 9px 0px;
    background-image: url("girl2.jpg");
    background-size: cover;
}

#profilepicreplies{
   
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin: 9px 0 -10px 11px;
    background-image: url("girl2.jpg");
    
}

#repliesname{
    margin: -20px 0 0 50px;
    width: 200px;
}

.content-container{
    display: flex;
    width: 100vw;
    margin-top: -1rem;
}

#profilepicpadding{
    padding-bottom: 0px;
}

.voteBox{
    display: flex;
    flex-direction: column;
    line-height: .01px;
    margin: -73px 0 0 -28px;
    font-size: 12px;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: row;
    
    justify-content:initial;
   
    height: 20px;
    margin: -78px 0 0 12vw;
    padding: 0 0 0 40px;  
    letter-spacing: 60px;
    font-size: 12px;
    align-items: center;
    
    
}

.iconbox{
    display: flex;
    
    
}
#icontags{
    letter-spacing: 0;
    margin: 0 0 0 -50px;
    font-size: 13px;
    
}

#headerimg{
    margin: 0 0 -40px 13vw;
    height: 33px;
        font-family: 'Manrope', sans-serif;
        color:lightblue;
}
#flexbox1{
    display: flex;
    padding-left: 4px;
}
#hiddenboxsize{
    border: 1.7px solid #E3E3E3;
    border-radius: 5px;
    margin: -40px auto 7px auto;
   width: 72vw;
    height: 100px;
    word-wrap: break-word;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
}

textarea{
    resize: none;
    width: 100px;
    
}

#postButton{
    width: 60px;
    padding: 3px;
    background-color: #E3E3E3;
    border-radius: 20px;
    margin-left: 63vw;
    margin-bottom: 10px;
}

.hidden{
    display:flex;
}
.hiddenr{
    display: none;
}

#content{
    margin: 0 auto;
}


#feed-content{
    padding-top: 9px;
    padding-right: 5vw;
    width: 63.5vw;
    height: 140px;
    overflow-y: hidden;
    margin: 0 18px;
    overflow: auto;   
}

h3{
    width: 63vw;
    
    margin-left: 1vw; 
    
}

#profilename{
    margin: -36px 0 0 40px; 
    font-size: 5p;
}

.up{
    color:green;
}

.down{
    color:red;
}

.share{
    color:orange;
}

.comments{
    color:darkgreen;
}
